[user]
	name = Dinh Quoc Han
	email = dqh@dinhquochan.com
	signingkey = A8047D88AA07D798
[core]
	excludesfile = /Users/dinhquochan/.config/git/ignore
	editor = vim
	ignorecase = false
	autocrlf = input
[commit]
	template = /Users/dinhquochan/.config/git/message
[init]
	defaultBranch = develop
[github]
	user = dinhquochan
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
