[user]
	name = Dinh Quoc Han
	email = dqh@dinhquochan.com
[core]
	excludesfile = /Users/handinh/.gitignore
	editor = nvim
	ignorecase = false
	autocrlf = input
[init]
	defaultBranch = main
[commit]
	template = /Users/handinh/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = dinhquochan
