[user]
	name = Dinh Quoc Han
	email = dinhquochan@users.noreply.github.com
[core]
	excludesfile = /Users/handinh/.config/git/ignore
	editor = vim
	ignorecase = false
	autocrlf = input
[commit]
	template = /Users/handinh/.config/git/message
[init]
	defaultBranch = main
[github]
	user = dinhquochan
